@use "../../lib/variables";

.btn {
  padding: 1rem 1.2rem;
  background: variables.$primary;
  border: none;
  border-radius: variables.$radius;
  font-size: 1.1rem;
  font-weight: 500;
  color: variables.$white;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background: variables.$secondary;
  }
}
