@use "../../lib/variables";

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: variables.$primary;
  color: variables.$white;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background: variables.$secondary;
  }

  & .icon {
    font-size: 1.3rem;
  }
}


