@use "../../../lib/variables";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  max-width: 30rem;
  background: variables.$white;
  transition: opacity 0.3s ease-in-out;
  padding: 2rem;

  &.open {
    animation: slide-in .3s ease-in-out forwards;
  }

  &.closed {
    animation: slide-out .3s ease-in-out forwards;
  }

  & .calendar {
    margin: 1rem 0;

    & .tileActive {
      background: variables.$primary;
      color: variables.$white;
    }
  }

  & .timeSlots {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;

    & span {
      padding: 0.5rem;
      border-radius: variables.$radius-heavy;
      border: 1px solid variables.$light-gray;
      cursor: pointer;

      &.active {
        background: variables.$primary;
        color: white;
      }
    }
  }

  & .messages {
    padding: 1rem;

    & .error {
      color: variables.$error
    }

    & .success {
      color: variables.$success;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  @media screen and (max-width: variables.$md) {
    text-align: center;
  }
}
