@use "../../lib/variables";

.header {
  width: 100%;
  border-bottom: 1px solid variables.$light-gray;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .loginButton {
    @media screen and (max-width: variables.$md) {
      margin: auto;
    }
  }

  @media screen and (max-width: variables.$md) {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

  }
}

