@use "../../lib/mixins";

.mainContainer {
  & {
    @include mixins.common-container-width;
  }

  & {
    @include mixins.main-container;
  }

  .loaderContainer {
position: relative;
    width: 10rem;
    height: 10rem;

  }
}
