@use "../../lib/variables";
@use "../../lib/mixins";


.businessContainer {
  position: relative;

  & {
    @include mixins.common-container-width;
  }

  & {
    @include mixins.main-container;
  }

  & .content {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    & .contentLeft {
      width: 65%;
    }

    & .contentRight {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
  }

  @media screen and (max-width: variables.$md) {
    padding: 0 1.5rem;
  }
}
