@use "../../lib/variables";
@use "../../lib/mixins";

.container {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto 2rem auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  & input {
    @include mixins.custom-input
  }

}
