@use "../../lib/variables";
@use "../../lib/mixins";

.searchContainer {
  display: flex;
  gap: 2.5rem;

  & .categoriesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & :first-child h2 {
    color: variables.$text-alt;
  }

  & h2 {
    @include mixins.title-text;
  }

  & .servicesCards {
    @include mixins.card-deck;

    & > h3 {
      margin: 6rem 0;
      @include mixins.subtitle-text;
    }
  }

  @media screen and (max-width: variables.$md) {
    padding: 0 1.5rem;
  }
}
