@use "../../../lib/variables";

.businessGallery {
  margin-bottom: 2rem;

  & h2 {
    margin-bottom: 1.5rem;
    @media screen and (max-width: variables.$md) {
      text-align: center;
    }
  }

  & .galleryImages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    & .businessImageContainer {
      width: 11rem;
      aspect-ratio: 9/6;
      overflow: hidden;
      border-radius: variables.$radius-heavy;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @media screen and (max-width: variables.$md) {
      justify-content: center;
    }
  }


}
